* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container #input,
#button {
  padding: 10px;
  margin: 10px;
}
#container input,
button {
  padding: 5px;
  margin: 5px;
  outline: none;
}
#heading {
  margin: 10px;
  padding: 5px;
  margin-left: 20px;
  color: rgb(114, 4, 117);
}
#result {
  padding: 10px;
  margin: 15px;
  font-size: 1.5em;
}
button {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgb(90, 87, 87);
  border-radius: 10px;
}
#btn {
  border-radius: 10px;
}
#container #feedback h1 {
  text-align: center;
  color: rgb(71, 4, 71);
  padding: 10px;
  margin: 10px;
}
#feedback #feedbackbtn {
  text-align: center;
  margin: 10px;
}
#feedbackbtn button {
  width: 140px;
  background: linear-gradient(rgb(178, 236, 247), rgb(17, 88, 116));
  font-size: 1em;
  text-transform: capitalize;
}
#feedback h3 {
  margin: 20px;
  padding: 15px;
  color: rgb(148, 1, 148);
  text-align: center;
  text-transform: uppercase;
}
.submitt {
  text-align: center;
}
.submitt button {
  background: linear-gradient(rgb(250, 254, 255), rgb(127, 188, 212));
  width: 160px;
  margin-top: 20px;
  color: rgb(2, 2, 128);
  text-transform: uppercase;
  border-radius: 10px;
}
